/* WMS web components styles */
.wms .warning {
	color: red;
}
.wms .warningBox {
	background-color: red;
	color: white;
}
.wms .success {
	color: lightgreen;
}
.wms .successBox {
	background-color: lightgreen;
}

.wms .selected {
	background-color: var(--special-backcolor);
	color: var(--special-color);
}

.wms dialog {
	padding: 0;
	font-size: smaller;
}

.wms dialog input,
.wms dialog button {
	font-size: smaller;
}

.wms dialog header {
	background-color: var(--special-backcolor);
	color: var(--special-color);
	padding: 0.5em;
}

.wms .sentiment {
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	border-radius: 50%;
	background: CanvasText;
	color: Canvas;
	text-align: center;
	font-weight: bold;
	font-size: 1em;
	cursor: pointer;
}

.wms input[readonly] {
	font-weight: bold;
	border: none;
}

wms-manage {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 0.5em 0;
	font-size: large;
}
wms-manage input {
	font-size: inherit;
}

.wms i {
	cursor: pointer;
}

.wms table {
	border-collapse: collapse;
}

.wms thead>tr>th {
	padding: 0.5em;
	border-bottom: thin solid gray;
	font-size: smaller;
}

.wms tbody>tr>td {
	padding: 0.5em;
	border-bottom: thin solid gray;
}

.wms select,
.wms input,
.wms button {
	padding: 0.25em;
}